.header {
    display: flex;
    padding: 30px;
}

.header h2 {
    flex: 1;
    font-size: 30px;
    text-align: left;
    margin: 0;
    font-style: italic;
    color:#9CC532;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header ul li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color:white;
    text-decoration: none;
}

.header ul li:hover,
.header ul li:active,
.header ul li:focus { 
    color: #9CC532;
}